/*
#e2f3f5 - bluish white
#22d1ee - cyan
#3d5af1 - purpleish blue
#0e153a - dark blue
*/

/* ---------- GLOBAL ---------- */
@font-face {
  font-family: "MuliLight";
  src: url('../fonts/Muli-Light.ttf')  format('truetype');
}

@font-face {
  font-family: "Muli";
  src: url('../fonts/Muli.ttf')  format('truetype');
}

@font-face {
  font-family: "MuliSemiBold";
  src: url('../fonts/Muli-SemiBold.ttf')  format('truetype');
}

@font-face {
  font-family: "MuliBold";
  src: url('../fonts/Muli-Bold.ttf')  format('truetype');
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Muli";
	background-color: #e2f3f5;
	color: #0e153a;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

a {
	color: #3d5af1;
	text-decoration: none;
}

p {
	font-size: 17px;
	font-family: "MuliLight";
}

.container {
	width: 92%;
	margin: 0 auto;
}

.content {
	min-height: 460px;
}

/* ---- ---- ---- ---- HEADER ---- ---- ---- ---- */

header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;

}

header h1 {
  display: inline;
}

header h1 {
  display: inline-block;
}

header .nav-btn {
  display: none;
}

header nav {
  display: inline;
  float: right;
  font-size: 17px;
}

header nav a {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

header nav .selected {
  background: #3d5af1;
  color: #ffffff;
  border-radius: 20px;
}

header nav a:hover {
	color: #22d1ee;
}

header #nav-check {
  display: none;
}

/* ---------- GRID VIEW ---------- */

.flex-grid {
	display: grid;
  	grid-gap: 40px;
  	grid-template-columns: minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);
  	margin-top: 30px;
}

.box {
	box-shadow:0 16px 40px rgba(0,0,0,0.12);
	border-radius: 15px;
	min-height: 200px;
	overflow: hidden;
}

.box img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.box h3 {
	padding: 6px 10px 10px 10px;
	color: #0e153a;
}

.box h4 {
	padding: 8px 12px 12px 12px;
	color: #0e153a;
}

a {
	cursor: pointer;
}

/*
#e2f3f5 - bluish white
#22d1ee - cyan
#3d5af1 - purpleish blue
#0e153a - dark blue
*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  font-family: 'MuliBold';
}

.modal-content {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 15% auto; /* 15% from the top and centered */
  /*padding: 20px;*/
  width: 40%; /* Could be more or less, depending on screen size */
  overflow: hidden;
}

.modal-content img {
	width: 100%;
}

.modal-content .modal-text {
	padding: 20px;
}

.modal-content .modal-text h1 {
	margin-bottom: 10px;
}

.modal-content .modal-text .emotion{
	margin-bottom: 5px;
}

.modal-content .modal-text .emotion p {
	float: left;
	margin: 0px 10px 0px 0px;
}

.star {
	color: gold;
}

.modal-content .modal-text p {
	margin:;
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  right: 32%;
}

.close:hover,
.close:focus {
  color: #22d1ee;
  text-decoration: none;
  cursor: pointer;
}

/* ---------- MAP VIEW ---------- */

#map {
	width: 100%;
	min-height: 550px;
}

/* ---------- PROFILE PAGE ---------- */

.profile-pic {
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

.logout {
	background: #bf2f24;
	color: #ffffff;
	font-family: "MuliLight";
	font-size: 17px;
	border-radius: 15px;
	padding: 5px 30px 10px 30px;
}

/* ---------- UPLOAD PAGE ---------- */

.input-file {
	width: 100%;
	font-family: "MuliLight";
	font-color: #0e153a;
	font-size: 17px;
	border-radius: 15px;
	height: 55px;
	box-shadow:0 16px 40px rgba(0,0,0,0.12);
	background: #ffffff;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input label {
  	display: block;
  	width: 100%;
  	height: 55px;
  	font-family: "MuliLight";
	color: #0e153a;
	font-size: 17px;
	border-radius: 15px;
	background: #ffffff;
	box-shadow:0 16px 40px rgba(0,0,0,0.12);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.file-input span {
	font-family: "MuliLight";
	color: #0e153a;
	font-size: 17px;
}

.file-name {
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

/* ---------- LOGIN PAGE ---------- */

.form {
	width: 40%;
	margin: 0 auto;
	margin-top: 150px;
}

.huge-title {
	font-size: 3.6em;
	margin-bottom: 25px;
}

.form .input {
	width: 100%;
	font-family: "MuliLight";
	font-color: #0e153a;
	font-size: 17px;
	border-radius: 15px;
	border: 0px;
	height: 55px;
	outline: none;
	margin-bottom: 22px;
	box-shadow:0 16px 40px rgba(0,0,0,0.12);
}

.submit {
	background: #3d5af1;
	color: #ffffff;
	font-family: "MuliLight";
	height: 40px;
	width: 170px;
	font-size: 17px;
	border-radius: 15px;
	border: 0px;
	height: 45px;
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
}

.form input::placeholder {
	color: #0e153a;
	padding-left: 20px;
}

.form input::text {
	padding-left: 20px;
}

/* ---------- RESPONSIVE ---------- */

@media (max-width: 600px) {
  .flex-grid {
    display: block;
  }
}

