{% extends "layout.html" %}

{% block title %}Mapview{% endblock %}

{% block bodystyle %}background: #ffffff{% endblock %}

{% block body %}
	<header>
		<div class="container">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
			    <h1>eMapper &#x1F5FA</h1>
			    <div class="nav-btn">
				    <i class="fas fa-bars"></i>
			  	</div>
			  	<nav>
			  		<a href="{{ url_for('upload') }}">+</a>
			  		<a href="{{ url_for('index') }}">Grid View</a>
				    <a href="{{ url_for('map') }}" class="selected">Map View</a>
				    <a href="{{ url_for('profile', email=email) }}">Profile</a>
			  	</nav>
			</div>
		</div>
	</header>

	<script>
      function initMap() {
      	var places = {{ coordinates|safe }};
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 3,
          center: { lat: 46.2276, lng: 2.2137},
        });

        for (i = 0;i < places.length; i++) {
        	new google.maps.Marker({
	          position: { lat: places[i][0], lng: places[i][1] },
	          map
	        });
        }
      }
    </script>

	<div id="map"></div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnXc6vPdyfgQnqCqeKEig3Y0DXDAwYEmo&callback=initMap&libraries=&v=weekly" async></script>
{% endblock %}