{% extends "layout.html" %}

{% block title %}Mapview{% endblock %}

{% block bodystyle %}background: #ffffff{% endblock %}

{% block body %}
	<header>
		<div class="container">
			<input type="checkbox" id="nav-check">
			<div class="nav-header">
			    <h1>eMapper &#x1F5FA</h1>
			    <div class="nav-btn">
				    <i class="fas fa-bars"></i>
			  	</div>
			  	<nav>
			  		<a href="{{ url_for('upload') }}">+</a>
			  		<a href="{{ url_for('index') }}">Grid View</a>
				    <a href="{{ url_for('map') }}" class="selected">Map View</a>
				    <a href="{{ url_for('profile', email=email) }}">Profile</a>
			  	</nav>
			</div>
		</div>
	</header>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100946.2815569641!2d-122.45648529848893!3d37.75320049109436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sro!4v1615721756297!5m2!1sen!2sro" style="border:0; width: 100%; min-height: 550px" allowfullscreen="" loading="lazy"></iframe>

{% endblock %}